<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Blog Posts</h1>
    <a href="/blog/new">Create New Post</a>



    
    <% posts.forEach(post => { %>
        <div class="post">
            <h2><%= post.title %></h2>
            <p><%= post.content %></p>
            <a href="/blog/<%= post.id %>/edit">Edit</a> 


        <form action="/blog/<%= post.id %>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>





        </div>
    <% }); %>


</body>
</html>


